/* page */

%heightItem {
    height: calc(100vh - 70px);
    overflow: auto;
}

body {
    background-color: #fef1f6;
}
.container-fluid {
    //
    .player {
        padding: 10px;
        height: 100vh;
        marquee {
            color: red;
            height: 50px;
        }
        &.playing {
            .icon-pause {
                display: block !important;
            }
            .icon-play {
                display: none;
            }
        }
        .partControl {
            display: none;
            margin-top: 10px;
            justify-content: space-between;
            position: fixed;
            padding-left: 15px;
            padding-right: 15px;
            bottom: 5px;
            left: 0;
            right: 0;
            i {
                color: #ed235f;
                font-size: 24px;
                cursor: pointer;
                &.fa-play-circle {
                    margin-left: 25vw;
                    margin-right: 25vw;
                }
            }
        }
        .dashboard {
            text-align: center;
            background-color: inherit;
            @extend %heightItem;
            .header {
                height: 56px;
                margin-bottom: 15px;
                .songName {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    color: #333333;
                }
            }
            .cd {
                // height: calc(100vh - 253px);
                .cd-thumb {
                    margin: auto;
                    width: calc(100% / 1.41);
                    max-width: calc((100vh - 253px) / 1.41);
                }
            }
            .control {
                margin-top: 15px;
                margin-bottom: 15px;
                .row {
                    justify-content: space-around;
                }
                .btn {
                    color: #8884b7;
                    &.btn-toggle-play {
                        width: 62px;
                        height: 62px;
                        border-radius: 50%;
                        font-size: 24px;
                        color: #fff;
                        background-color: #ed235f;
                        .icon-pause {
                            display: none;
                        }
                    }
                    &.active {
                        color: #ed235f;
                    }
                }
            }
        }
    }
    .playlists {
        @extend %heightItem;
        .titlePl {
            text-align: center;
        }
        .song {
            display: flex;
            align-items: center;

            margin-top: 6px;
            margin-bottom: 6px;

            background-color: #fff;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            > div {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .thumb {
                flex: 0 0 20%;
                text-align: center;
                img {
                    height: 56px;
                }
            }
            .body {
                flex: 0 0 60%;
            }
            .options {
                flex: 0 0 20%;
                text-align: center;
            }
            &.active {
                background-color: #ed235f;
                color: #fff;
            }
        }
    }
    .lyrics {
        @extend %heightItem;

        .title {
            text-align: center;
        }
        .content {
            text-align: justify;
            line-height: 1.5;
            font-size: 18px;
            padding: 15px;
        }
    }
}
@media (max-width: 1024px) {
    .partControl {
        display: flex !important;
    }
    .dashboard {
        display: none !important;
    }
    .playlists {
        display: none !important;
    }
    .lyrics {
        display: none !important;
    }
    .show {
        display: block !important;
    }
}
@keyframes inLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100%));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
