/* page */
body {
  background-color: #fef1f6;
}

.container-fluid .player {
  padding: 10px;
}
.container-fluid .player marquee {
  color: red;
}
.container-fluid .player.playing .icon-pause {
  display: block !important;
}
.container-fluid .player.playing .icon-play {
  display: none;
}
.container-fluid .player i.far {
  display: none;
  color: #ed235f;
  font-size: 24px;
  cursor: pointer;
}
.container-fluid .player i.far.fa-play-circle {
  margin: 0 25vw;
}
.container-fluid .player .dashboard {
  text-align: center;
  background-color: inherit;
}
.container-fluid .player .dashboard .header .songName {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #333333;
}
.container-fluid .player .dashboard .cd {
  margin-top: 15px;
}
.container-fluid .player .dashboard .cd .cd-thumb {
  margin: auto;
  max-width: 58vh;
}
.container-fluid .player .dashboard .control {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-fluid .player .dashboard .control .row {
  justify-content: space-around;
}
.container-fluid .player .dashboard .control .btn {
  color: #8884b7;
}
.container-fluid .player .dashboard .control .btn.btn-toggle-play {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  background-color: #ed235f;
}
.container-fluid .player .dashboard .control .btn.btn-toggle-play .icon-pause {
  display: none;
}
.container-fluid .player .dashboard .control .btn.active {
  color: #ed235f;
}
.container-fluid .playlists {
  max-height: 90vh;
  overflow: auto;
}
.container-fluid .playlists .titlePl {
  text-align: center;
}
.container-fluid .playlists .song {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container-fluid .playlists .song > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-fluid .playlists .song .thumb {
  flex: 0 0 20%;
  text-align: center;
}
.container-fluid .playlists .song .thumb img {
  height: 56px;
}
.container-fluid .playlists .song .body {
  flex: 0 0 60%;
}
.container-fluid .playlists .song .options {
  flex: 0 0 20%;
  text-align: center;
}
.container-fluid .playlists .song.active {
  background-color: #ed235f;
  color: #fff;
}
.container-fluid .lyrics .title {
  text-align: center;
}
.container-fluid .lyrics .content {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  padding: 15px;
}

@media (max-width: 1024px) {
  i.far {
    display: inline-block !important;
  }

  .dashboard {
    display: none !important;
  }

  .playlists {
    display: none !important;
  }

  .lyrics {
    display: none !important;
  }

  .show {
    display: block !important;
  }
}
@keyframes inLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100%));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
